node_modules
.next
.turbo
dist
build
out
.env
.env.*
!.env.example
apps/api/.env
apps/web/.env.local

apps/api/prisma/dev.db

contracts/out
contracts/cache
contracts/broadcast

*.log
.DS_Store
.pnpm-store/

key.pem